@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #07071a;
  --foreground: #ededed;
  --font-geist-sans: 'Poppins', sans-serif;
  --font-geist-mono: 'Courier New', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', sans-serif;
}

header {
  background: var(--header-background);
  color: var(--header-foreground);
}

/* Add transition */
p.about-text {
  transition: color 10s ease;
}

@keyframes colorShift {
  0% {
    color: #ffffff;   /* Color 1 (start) */
  }
  33% {
    color: #91ff00;   /* Color 2 (middle) */
  }
  66% {
    color: #04fff2;   /* Color 3 */
  }
  100% {
    color: #ffffff;   /* Back to Color 1 */
  }
}

.animate-color-shift {
  animation: colorShift 6s ease-in-out infinite;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

.filter-blue {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(100%) contrast(85%);
}

html {
  scroll-behavior: smooth;
}

#about, #projects, #contact, #experience {
  scroll-margin-top: 150px; /* adjust to your header height */
}

